.toolbar {
  background-color: var(--toolbar-background-color);
  height: var(--toolbar-height);
  display: flex;
}

.toolbar-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
}

.toolbar-actions>* {
  cursor: pointer;
}

.is-highlighted {
  fill: rgb(96, 255, 96) !important;
}